/research/*
!/research/README.md
/src/target/
/src/dist/
/src/local-assets
/src/screenshots
/src/docs
/src/*.app/
**/node_modules/
**/__pycache__/
*.pyc
.DS_Store
cf-key
cf-key.*
*.key
*.pem
.env
.env.*
